.login{
  margin-left: 500px;
}
.loginn{
  margin-left: 700px;
}
.box{
  margin-left: 600px;
  outline-color: brown ;
}
.boxx{
  outline-color: brown ;
}
.boxing{
  outline-color: brown ;
  border-radius: 5px;
  margin-left: 745px;
  margin-top: 10px;
  padding-top: 1px;
  padding-bottom: 1px;
}
.jahel{
  margin-left: 660px;
  margin-top: 10px;
  color: beige;
  font-style: bold;
}